version: '3.8'

services:
  gateway:
    build:
      context: .             
      dockerfile: gateway/Dockerfile
    container_name: gateway
    ports:
      - "8000:8000"           
    environment:
      - RETRIEVER_HOST=retriever:50051
      - GENERATOR_HOST=generator:50052
    depends_on:
      - retriever
      - generator

  generator:
    
    build: ./generator
    container_name: generator
    command: python app_generator.py
    env_file:
      - ./.env
  
    depends_on:
      - retriever

  retriever:

    build: ./retriever
    container_name: retriever
    command: python app_retriever.py
    env_file:
      - ./.env
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-db
    ports:
      - "6333:6333" # HTTP
      - "6334:6334" # gRPC
    volumes:
      - swchat_qdrant_data:/qdrant/storage

volumes:
  swchat_qdrant_data:
    external: true
