version: '3.8'

services:
  generator:
    
    build: ./generator
    container_name: generator
    ports:
      - "8000:8000"

    env_file:
      - ./.env
  
    depends_on:
      - retriever

  retriever:

    build: ./retriever
    container_name: retriever
    ports:
      - "8001:8001"
    env_file:
      - ./.env
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-db
    ports:
      - "6333:6333" # HTTP
      - "6334:6334" # gRPC
    volumes:
      - swchat_qdrant_data:/qdrant/storage

volumes:
  swchat_qdrant_data:
    external: true
