services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - swchat_qdrant_data:/qdrant/storage

  app:
    image: yoonaji/sw-chatbot:1.0
    depends_on:
      - qdrant
    ports:
      - "8000:8000"
    environment:
      QDRANT_URL: "http://qdrant:6333"
      QDRANT_COLL_TABLE: "regs_tables"
      OPENAI_EMBED_MODEL: "text-embedding-3-small"
      OPENAI_CHAT_MODEL: "gpt-4o-mini"
      OPENAI_API_KEY: "${OPENAI_API_KEY}"   # .env에서 주입

volumes:
  swchat_qdrant_data:
    external: true   # ← 이미 존재하는 볼륨을 그대로 사용
